<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a id="link-to-index" class="lead" href="/campgrounds"><h3>YelpCamp</h3></a>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=campground.image%>">
                <div class="caption-full">
                    <h4 id="title"><%=campground.name%></h4>
                    <p><%=campground.description%></p>  
                    <p>
                        <em>Submitted by </em><span class="people-name"><strong><%=campground.author.username%></strong></span>
                    </p> 
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <span id="owner" class="glyphicon glyphicon-user glyphicon-large" aria-hidden="true"></span> 
                        <a class="btn btn-xs  btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                        <form id="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">New Comment</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="whole-width people-name"><strong><%= comment.author.username %></strong></div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <div class="pull-right"> 
                                    <a class="btn btn-xs btn-warning " href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                    <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                </div>
                            <% } %>
                            <p class="comment-text">
                                <%= comment.text%>
                            </p>
                        </div>
                    </div>
                    <hr class="divider">
                <% }); %>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
